polyvol
.vscode/**
sde-external-9.21.1-2023-04-24-lin*
executables/
libopenblas_executables
examples/
reduced_examples/
config/
__pycache__/
python.log

# advisor
annotations.advidb2
e000/
team29.advixeproj
*.dflgadvixe
*.infoadvixe
advisor_scripts/

# other scripts
sudo_stay_validated.sh